<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.app3" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Bible4U</name>
    <description>
        The Bible4U app is to read Bible. 
    </description>
    <access origin="*"></access>
    <allow-navigation href="https://biblehub.com/*" /> 
    <allow-navigation href="https://www.blueletterbible.org/*" /> 
    <allow-navigation href="http://bible.fhl.net/new/parsing.php*" /> 
    <allow-navigation href="http://bible.fhl.net/new/fhlwhparsing.php*" /> 
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <icon src="resources/icon.png" />
    <engine name="android" spec="~6.3.0"/>
</widget>